* {    box-sizing: border-box;
}

html {
  font-family:'Lato', sans-serif;
  color: #131212;
  }

ul {
  list-style-type: none;
  font-size: 100%;
  padding-right: 40px;
}
  
h1{
  font-size:300% ;
  text-align: center;
}

h2{
  font-size: 200%;
  text-align: center;
}

h3{
  font-size: 150%;
  color:whitesmoke; 
  background-color:#313030;
  margin-top: 40px;
  border-radius: 20px;
  padding: 5px;
}
   
h4{
  font-size: 120%;
  }

p {
  font-size: 110%;
  }

.header {
  background-color: #9933cc;
  padding: 40px 0px 43px 0px;
 
  }

.foto{
  background-color: #9933cc;
  padding: 10px;
}
  
img {
  border: 5px solid #555;
  border-radius: 50%;
  margin:auto;
  display: block;
  }

  /*Separador entre header y experiencia"*/
.col-12{
  background-color: #33b5e5;
}

/*Separador que contiene "Medica veterinaria"*/
.titulodegrado {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 18px 18px 18px 30px;
}


/*area lateral izquierda*/
.informacion_personal {
  background-color: #33b5e5;
  padding: 25px;
  text-align: center;
  height: 1300px;
}

/*lista desplegable*/
#info-personal {
  width: 100%;
  padding: 20px 10px 20px 20px;
  background-color:#313030;
  border-radius: 6px;
  margin-top: 20px;
  display: none;
}

/*items de la lista desplegable*/
#info-personal ul {
  display: block;
  font-size: 18px;
  text-align:center;
  line-height: 1.5;
   background-color: #313030;
  color:whitesmoke;
  text-decoration: none;
  padding: 10px;
}

#boton {
  padding: 15px 32px;
  font-size: 150%;
  color: whitesmoke;
  background-color: #9933cc;
  border: none;
  border-radius: 6px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position:relative;
  top: 30px;
    }

  #boton:hover {
      opacity: 0.7;
  }


/*cuerpo del cv*/
.experiencia_habilidades{
  padding: 35px;
  background-color: whitesmoke;
  height: 1300px;
  text-align: center
  }
 
footer {
  margin-top: -200px;
  text-align: center;
  background-color: #0099cc;
  height: fit-content;
  display: flex;
  justify-content:center;
  padding: 8px;
  }

 
  
/* boton linkedin*/
  .fa {
    padding: 4px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 15px 5px;
    
}
  
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    
  }

  [class*="col-"] {
    float: left;
      }
      
  /* Para computadoras de escritorio: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

 /* Para tablet y evitar que se solape el contenido al achicar ventana en PC: */
  @media only screen and (min-width: 700px) and (max-width: 991px){
    .col-3 {width: 40%;}
    .col-9 {width: 60%;}
  

    
    .informacion_personal {
      height: 1550px;
    }
    .experiencia_habilidades{
      height: 1550px;
    }
   
}

  @media only screen and (max-width: 700px) {
    /* Para celulares: */
    [class*="col-"] {
      width: 100%;
    }
    .informacion_personal {
    height: 400px;
  }
  .experiencia_habilidades{
    height: 1650px;
  }
  
}

 